In [1]:
import utils

In [2]:
df_to_use = utils.stat_player_match('/en/matches/10e5c045/Arsenal-Manchester-City-August-6-2023-FA-Community-Shield')

Request successful, parsing HTML...
✅ DataFrame pour team number 1 extrait et nettoyé.
               Player     #   Nation    Pos     Age  Min  Performance_Gls  \
0  Gabriel Martinelli  11.0   br BRA     FW  22-049   74                0
1    Leandro Trossard  19.0   be BEL  FW,MF  28-245   16                1
2         Kai Havertz  29.0   de GER     FW  24-056   86                0
3        Fabio Vieira  21.0   pt POR  FW,MF  23-068    4                0
4         Bukayo Saka   7.0  eng ENG     FW  21-335   90                0

   Performance_Ast  Performance_PK  Performance_PKatt  ...  Performance_CrdR  \
0                0               0                  0  ...                 0
1                0               0                  0  ...                 0
2                0               0                  0  ...                 0
3                0               0                  0  ...                 0
4                1               0                  0  ...                 0

   Performance_Fls  Performance_Fld  Performance_Off  Performance_Crs  \
0                0                0              NaN                5
1                0                1              NaN                0
2                1                1              NaN                0
3                0                0              NaN                2
4                1                1              NaN                2

   Performance_TklW  Performance_Int  Performance_OG  Performance_PKwon  \
0                 1                1             NaN                NaN
1                 1                0             NaN                NaN
2                 0                1             NaN                NaN
3                 0                0             NaN                NaN
4                 0                0             NaN                NaN

   Performance_PKcon
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN

[5 rows x 23 columns]
---
✅ DataFrame pour team number 2 extrait et nettoyé.
           Player     #   Nation    Pos     Age  Min  Performance_Gls  \
0  Erling Haaland   9.0   no NOR     FW  23-016   63                0
1     Cole Palmer  80.0  eng ENG  FW,MF  21-092   27                1
2   Jack Grealish  10.0  eng ENG     AM  27-330   57                0
3      Phil Foden  47.0  eng ENG  FW,MF  23-070   33                0
4  Julián Álvarez  19.0   ar ARG     AM  23-187   90                0

   Performance_Ast  Performance_PK  Performance_PKatt  ...  Performance_CrdR  \
0                0               0                  0  ...                 0
1                0               0                  0  ...                 0
2                0               0                  0  ...                 0
3                0               0                  0  ...                 0
4                0               0                  0  ...                 0

   Performance_Fls  Performance_Fld  Performance_Off  Performance_Crs  \
0                1                0              NaN                0
1                1                0              NaN                0
2                1                0              NaN                2
3                0                1              NaN                1
4                0                2              NaN                1

   Performance_TklW  Performance_Int  Performance_OG  Performance_PKwon  \
0                 0                0             NaN                NaN
1                 0                0             NaN                NaN
2                 0                1             NaN                NaN
3                 1                0             NaN                NaN
4                 1                1             NaN                NaN

   Performance_PKcon
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN

[5 rows x 23 columns]
---

/home/hugo/projects/player_stats_predictor/utils.py:82: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
/home/hugo/projects/player_stats_predictor/utils.py:82: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [4]:
df1, df2 = df_to_use

In [5]:
df1.head()

,Player,#,Nation,Pos,Age,Min,Performance_Gls,Performance_Ast,Performance_PK,Performance_PKatt,...,Performance_CrdR,Performance_Fls,Performance_Fld,Performance_Off,Performance_Crs,Performance_TklW,Performance_Int,Performance_OG,Performance_PKwon,Performance_PKcon
0,Gabriel Martinelli,11.0,br BRA,FW,22-049,74,0,0,0,0,...,0,0,0,NaN,5,1,1,NaN,NaN,NaN
1,Leandro Trossard,19.0,be BEL,"FW,MF",28-245,16,1,0,0,0,...,0,0,1,NaN,0,1,0,NaN,NaN,NaN
2,Kai Havertz,29.0,de GER,FW,24-056,86,0,0,0,0,...,0,1,1,NaN,0,0,1,NaN,NaN,NaN
3,Fabio Vieira,21.0,pt POR,"FW,MF",23-068,4,0,0,0,0,...,0,0,0,NaN,2,0,0,NaN,NaN,NaN
4,Bukayo Saka,7.0,eng ENG,FW,21-335,90,0,1,0,0,...,0,1,1,NaN,2,0,0,NaN,NaN,NaN

In [6]:
# Afficher tous les joueurs de la table
print("Tous les joueurs dans la table:")
print(df2['Player'].tolist())

# Ou pour une meilleure visualisation avec le nombre total:
print(f"\nNombre total de joueurs: {len(df2)}")
print("\nListe complète des joueurs:")
for i, player in enumerate(df2['Player'], 1):
    print(f"{i}. {player}")

Tous les joueurs dans la table:
['Erling Haaland', 'Cole Palmer', 'Jack Grealish', 'Phil Foden', 'Julián Álvarez', 'Bernardo Silva', 'Mateo Kovačić', 'Kevin De Bruyne', 'Rodri', 'Manuel Akanji', 'Rúben Dias', 'John Stones', 'Kyle Walker', 'Stefan Ortega', '14 Players']

Nombre total de joueurs: 15

Liste complète des joueurs:
1. Erling Haaland
2. Cole Palmer
3. Jack Grealish
4. Phil Foden
5. Julián Álvarez
6. Bernardo Silva
7. Mateo Kovačić
8. Kevin De Bruyne
9. Rodri
10. Manuel Akanji
11. Rúben Dias
12. John Stones
13. Kyle Walker
14. Stefan Ortega
15. 14 Players